<h1>Eldest Director</h1>

<% if @eldest.present? %>
  <p>
    The eldest director in our dataset is 
    <a href="/directors/<%= @eldest.id %>">
      <%= @eldest.name %>
    </a>, born on <%= @eldest.dob.strftime("%B %e, %Y") %>.
  </p>
<% else %>
  <p>No directors found in the database.</p>
<% end %>

