<form action="/insert_director" method="post">
  <label for="name_director">Name</label>
  <input type="text" name="name_director" id="name_director">

  <div>
    <label for="dob_director">Dob</label>
    <input type="date" name="dob_director" id="dob_director">
  </div>

  <div>
    <label for="bio_director">Bio</label>
    <input type="text" name="bio_director" id="bio_director">
  </div>

  <div>
    <label for="image_director">Image</label>
    <input type="text" name="image_director" id="image_director">
  </div>

  <button type="submit">Create director</button>
</form>
