<form action="/insert_movie" method="post">
  <label for="title_movie">Title</label>
  <input type="text" name="title_movie" id="title_movie">

  <div>
    <label for="year_movie">Year</label>
    <input type="text" name="year_movie" id="year_movie">
  </div>

  <div>
    <label for="duration_movie">Duration</label>
    <input type="text" name="duration_movie" id="duration_movie">
  </div>

  <div>
    <label for="description_movie">Description</label>
    <input type="text" name="description_movie" id="description_movie">
  </div>

  <div>
    <label for="image_movie">Image</label>
    <input type="text" name="image_movie" id="image_movie">
  </div>

  <div>
    <label for="director_id">Director ID</label>
    <input type="text" name="director_id" id="director_id">
  </div>

  <button type="submit">Create movie</button>
</form>
