<form action="/update_movie" method="post">
  <label for="title_movie">Title</label>
  <input type="text" name="title_movie" id="title_movie" value="<%= @the_movie.title %>">

  <div>
    <label for="year_movie">Year</label>
    <input type="text" name="year_movie" id="year_movie" value="<%= @the_movie.year %>">
  </div>

  <div>
    <label for="duration_movie">Duration</label>
    <input type="text" name="
