<h1>Movie #<%= @the_movie.id %> details</h1>

<a href="/movies">Go back</a>

<hr>

<form action="/update_movie/<%= @the_movie.id %>" method="post">
  <label for="title_movie">Title</label>
  <input type="text" name="title_movie" id="title_movie" value="<%= @the_movie.title %>">

  <label for="year_movie">Year</label>
  <input type="text" name="year_movie" id="year_movie" value="<%= @the_movie.year %>">

  <label for="duration_movie">Duration</label>
