<form action="/insert_actor" method="post">
  <label for="name_actor">Name</label>
  <input type="text" name="name_actor" id="name_actor">

  <div>
    <label for="dob_actor">Dob</label>
    <input type="date" name="dob_actor" id="dob_actor">
  </div>

  <div>
    <label for="bio_actor">Bio</label>
    <input type="text" name="bio_actor" id="bio_actor">
  </div>

  <div>
    <label for="image_actor">Image</label>
    <input type="text" name="image_actor" id="image_actor">
  </div>

  <button type="submit">Create actor</button>
</form>
